<div class="col-sm-12">
  <table class="table table-bordered" id="productTable" >
    <thead>
      <tr>
        <th>#</th>
        <th>Field</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of tableData;  let i = index">
        <td>{{i+1}}</td>
        <td>{{product.productName}}</td>
        <td>
          <input type="button" value="-" (click)="deleteRow(i)">
        </td>
      </tr>
      <tr>

        <td>{{tableData.length+1}}</td>
        <td>
          <input type="text" [(ngModel)]="newAttribute.productName">
        </td>
        <td>
          <input type="button" value="+" (click)="addRow()">
        </td>


      </tr>
    </tbody>
  </table>


</div>


