<agm-map [latitude]="lat" [longitude]="long">
  <agm-marker [latitude]="lat" [longitude]="long"></agm-marker>
</agm-map>
<div class="container " style="background-color:grey ;margin :50px auto ;padding-top: 5%;
text-align:left ">
  <form class="form-horizontal" #fullForm="ngForm">

    <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 control-label">Latitude</label>
      <div class="col-sm-4">
        <input type="number" name="latitude" class="form-control" id="inputLatitude" placeholder="Latitude" [(ngModel)]="lat" >
      </div>
      <label for="inputName" class="col-sm-2 control-label">Longitude</label>
      <div class="col-sm-4">
        <input type="number" name="longitude" class="form-control" id="inputLongitude" placeholder="Longitude" [(ngModel)]="long" >
      </div>
    </div>
    <button style="text-align:center;" (click)="saveLocation(lat,long)">Save</button>
    </form>
    
  </div>
<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
