<div class="container " style="background-color:rgba(46, 38, 38, 0.205) ;margin :50px auto ;padding-top: 5%;
text-align:left ">

  <form action="" class="form-horizontal">
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-bordered" id="productTable">
          <thead>
            <tr>
              <th>#</th>
              <th>Field</th>
              <th>Action</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>


  </form>
</div>