<div class="container " style="background-color:grey;
border-color: black;margin :50px auto ;padding-top: 5%;text-align:left ">

  <form action="" class="form-horizontal">
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-bordered" id="productTable">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Address</th>
              <th>Mobile</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users; let i=index">
              <td>{{user.id}}</td>
              <td>{{user.name}}</td>
              <td>{{user.address}}</td>
              <td>{{user.mobile}}</td>
              <td>
                <tr>
                  <td>
                    <select multiple>
                      <option value="ID">ID</option>
                      <option value="Name">Name</option>
                      <option value="Address">Address</option>
                      <option value="Mobile">Mobile</option>
                    </select>
                  </td>
                  <td>
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" (click)="sendUser(users[i])">View</button>


                  </td>
                </tr>


              </td>
            </tr>
            <app-popout-model [user]="clickedUser"></app-popout-model>
          </tbody>
        </table>
      </div>
    </div>


  </form>
</div>